# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.idea

# Node / pnpm
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.local
.env.*.local
*.local

# Vite
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
