:root{
    --primary: #6b5cff;
    --primary-hover: #5a4ce3;
    --background-light: #ffffff;
    --background-dark: #181e4b;
    --accent-pink: #eaa2fc;
    --accent-green: #5acca4;
    --accent-orange: #fe654f;
    --accent-yellow: #e6ca52;
    --text-dark: #1f2937;
    --text-light: #f3f4f6;
    --main-font:"Sintony", sans-serif
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body{
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
  margin-bottom: 1rem;
}

.left-panel {
  background: linear-gradient(135deg, var(--primary), var(--accent-pink));
  color: white;
}

.left-panel .icon-box {
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
